form {
    width: 350px;
}

.number-container {
    width: 100%;
    display: flex;
    gap: 16px;
}

.button-message {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;  
}