:root {
    --primary-color:  rgb(252, 177, 2);
    --secondary-color: rgb(98, 49, 158);
    --text-color: rgb(255, 255, 255);
}

.header {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    background-color: var(--secondary-color);
    position: fixed;
    width: 100%;
}

.header a {
    padding: 16px;
    color: var(--text-color);
}



.log-in,
.sign-up {
    width: 100%;     
    height: 100vh;
}

.log-in form,
.sign-up form {
    width: 300px;
}

.log-in,
.sign-up {
    display: flex;
}