:root {
    --primary-color:  rgb(252, 177, 2);
    --secondary-color: rgb(98, 49, 158);
    --text-color: rgb(255, 255, 255);
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
}

a {
    text-decoration: none;

}

button {
    cursor: pointer;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid black;
    font-weight: 600;
    font-size: 16px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    width: 100%;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
    border-radius: 8px;
    background-color: white;
    width: auto;
}

input {
    padding: 6px;
    border-radius: 6px;
    border: 1px solid black;
    width: 100%;
}