.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #fff; 
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 0 15px rgba(25, 188, 63, 0.518);
    min-width: 70px;
}

.sidebar.minimized {
    width: 70px;
    box-shadow: 3px 0 10px rgba(40, 167, 69, 0.2);
}

/* Brand Section */
.brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    min-height: 60px;
}

.brand .name-logo {
    display: flex;
    align-items: center;
}

.sidebar.minimized .brand {
    justify-content: center;
}

.sidebar.minimized .brand .name-logo img {
    display: none;
}

/* Toggle Button */
.toggle-btn {
    background: none;
    border: none;
    color: #000;
    font-size: 24px;
    cursor: pointer;
    width: 40px;
    transition: transform 0.3s;
}

.sidebar.minimized .toggle-btn {
    margin-left: -10px;
}

/* KingLang Text */
.brand .text {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.3s ease;
}

.sidebar.minimized .brand .text {
    opacity: 0;
}

/* Navigation Links */
.sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    position: relative;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active,
.sidebar .nav-link.active i  {
    background-color: #d1f7c4;
}

.sidebar .icon {
    min-width: 40px;
    text-align: center;
    position: relative;
    color: #000;
}

.sidebar .text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    transition: opacity 0.3s;
    color: #000;
}

.sidebar.minimized .text {
    opacity: 0;
    width: 0;
}

/* Tooltip Effect for Minimized Sidebar */
.sidebar.minimized .nav-link:hover .text {
    position: absolute;
    left: 70px;
    background-color: #495057;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 1;
    width: auto;
    z-index: 1000;
}
