/* Styling the dropdown list */
input {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.location-icon, .calendar-icon {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    z-index: 9999;
}

.add-icon, .remove-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
}

.remove-icon {
    visibility: hidden;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
}

#map {
    height: 70vh;
}

.suggestions {
    position: absolute;
    width: 100%;
    list-style: none;
    background: white;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 5px;
    padding: 0;
    z-index: 99999;
}

.suggestions::-webkit-scrollbar {
    width: 4px;
}

.suggestions::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.suggestions::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background: #007bff;
    color: white;
}

.remove-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    font-size: 18px;
    visibility: hidden;
}

.position-relative:hover .remove-icon {
    visibility: visible;
}

#addStop, .remove-icon {
    cursor: pointer;
}
